#contactContainer {
    margin: 40px;
    border: 2px solid rgb(213, 213, 213);
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    padding: 20px;
}

img {
    margin: 30px;
}

.part {
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}
.person {
    font-weight: 500;
    font-size: 15px;
    margin: 10px;
    margin-top: 7px;
}