
* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 32px;
    color: #6A24FE;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}
.createAccount-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    width: 500px;
    height: 70%;
    border-radius: 10px;
}
.input-group {
    display: flex;      /* 버튼과 입력 필드를 한 줄에 배치 */
    margin-bottom: 16px;
}
.input-group > input, .input-group > button {
    height: 48px;
    border-radius: 6px;
}
.input-group > input {
    flex-grow: 1;       /* 입력 필드가 남은 공간을 모두 차지하도록 설정 */
    margin-right: 8px;  /* 버튼과의 간격 설정 */
    padding: 0 10px;
    background-color: #F8F8F8;
}
.input-group > button {
    background-color: #707070;
    color: white;
    border: none;
    padding: 0 20px;
}
.vertical-inputs{
    display: flex;
    flex-direction: column;
}
.vertical-inputs input {
    height: 40px;
    margin-bottom: 15px;
    padding: 8px 12px; 
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 10px;
}
#createaccount-form > input[type="password"],
#createaccount-form > input[type="submit"] {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#createaccount-form > input[type="submit"] {
    color: #fff;
    background-color: #1cc88a;
    margin-top: 20px;
}
#createaccount-form > input::placeholder {
    color: #909090;
}

/* suzzang추가 */

.fa-bars {
    font-size: 30px;
    color: rgb(124, 154, 255);
    margin-right: 20px;
}

#jjapra {
    text-decoration: none;
    color: rgb(111, 111, 111);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 40px;
    margin-bottom: 20px;
}

.sidebarBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}