@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&display=swap');


/* main */
#mainContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    overflow-x: hidden; /* 가로 스크롤 숨김 */
    transition: margin-left 0.5s; /* 오른쪽 콘텐츠를 이동시키는 트랜지션 */
    padding: 16px;
    margin-left: 0; /* 초기에는 오른쪽 콘텐츠를 이동하지 않음 */
}
    #mainTitle {
        font-size: 50px;
        border-bottom: 1px solid rgb(193, 193, 193);
        padding-bottom: 0;
        color: rgb(75, 86, 82);
        display: flex;
    }
    #mainTitleText {
        margin-left: 50px;
    }

    #projectList {  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project {
        color:rgb(94, 94, 94);
        display: flex;
        flex-direction: column;
        margin: 35px;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 7px 9px 24px 0px #bbbbbb;
        height: 180px;
        width: 200px;
        border-left: 4px solid rgb(131, 166, 255);
    }
        .projectTitle {
            font-size: 25px;
            border-bottom: 1px solid rgb(193, 193, 193);
            margin-bottom: 10px;
            color: rgb(63, 63, 63);
        }
        .projectContent {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    #plusBtn {
        height: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 40px;
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px; */
        margin-left: auto;
    }


/*  */
span {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.fa-chess-king{
    font-size: 15px;
}
.fa-user-circle {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #1cc88a;
}
a:hover{
    color: rgb(151, 151, 151);
}
a:active{
    color: rgb(71, 71, 71);
}

.fa-circle-plus {
    font-size: 60px;
    text-shadow: 7px 9px 20px 0px #575757;
}

.fa-bars {
    font-size: 30px;
    color: rgb(124, 154, 255);
    margin-right: 20px;
}


#jjapra {
        text-decoration: none;
        color: rgb(149, 149, 149);
        margin-left: 15px;
        margin-right: 15px;
}

/* sidebar test */

#toggleSidebarBtn {
    /* position: fixed;
    top: 20px;
    left: 20px; */
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}