@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&display=swap');


/* main */

    #mainTitle {
        font-size: 50px;
        border-bottom: 1px solid rgb(193, 193, 193);
        padding-bottom: 0;
        color: rgb(75, 86, 82);
        display: flex;
    }
    #mainTitleText {
        margin-left: 50px;
    }

    #projectList {  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 50px;
    }
    .project {
        color:rgb(94, 94, 94);
        display: flex;
        flex-direction: column;
        margin: 35px;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 7px 9px 24px 0px #bbbbbb;
        height: 180px;
        width: 200px;
        border-left: 5px solid rgb(131, 166, 255);
    }
        .projectTitle {
            font-size: 25px;
            border-bottom: 1px solid rgb(193, 193, 193);
            margin-bottom: 10px;
            color: rgb(63, 63, 63);
        }
        .projectContent {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    #plusBtn {
        height: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 40px;
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px; */
        margin-left: auto;
    }


/*  */
.fa-chess-king{
    font-size: 15px;
}
.fa-user-circle {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #1cc88a;
}
a:hover{
    color: rgb(151, 151, 151);
}
a:active{
    color: rgb(71, 71, 71);
}

.fa-circle-plus {
    font-size: 60px;
    text-shadow: 7px 9px 20px 0px #575757;
}


